.addbookbg {
  background: rgb(26, 30, 32);
}

.addbook-container {
  padding-bottom: 55px;
  display: flex;
  width: 98vw;
  height: 100vh;
}

.addbook-form {
  max-width: 1000px;
  padding: 30px;
  border-radius: 8px;
  background-color: rgb(33, 37, 41);
}
